body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f8f9fa;
    padding: 20px;
}

.header h1 {
    margin: 0;
    color: #333;
    font-size: 24px;
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.navbar a:hover {
    color: #555;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#map {
    height: 400px;
    margin-bottom: 20px;
}

#categorias {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-check-inline {
    margin-right: 10px;
}

/* Estilo dos botões */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo do botão Start Recording */
#startBtn {
    background-color: #28a745;
    color: white;
}

/* Estilo do botão Stop Recording */
#stopBtn {
    background-color: #dc3545;
    color: white;
}

/* Estilo do botão Download Track */
#downloadBtn {
    background-color: #007bff;
    color: white;
}

/* Estilo do botão Reset Track */
#resetBtn {
    background-color: #ffc107;
    color: black;
}

/* Efeito de transição nos botões */
button {
    transition: background-color 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

/* Estilo do botão quando desabilitado */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #333;
}
